<div class="container-top">
  <div class="col-4 mx-auto">
    <div class="card justify-content-center">
      <h1 class="card-header" style="background-color: #66CCCC;">Section 2</h1>
      <div class="card-body">
        <div class="container-btn">
          <button type="button" class="btn3" style="background-color: #86b3c2;" [routerLink]="['Q1Page']">Question1</button><br>
          <button type="button" class="btn3" style="background-color: #86b3c2;"
            [routerLink]="['Q2Page']">Question2</button>
          <button type="button" class="btn3" style="background-color: #86b3c2;"[routerLink]="['Q3Page']">Question3</button>
          <div class="text-center" style="padding-top: 100px;">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>